@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto;
}

.wrapper {
    padding: 91px 124px;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

h1 {
    font-size: 55px;
    line-height: 101.38%;
}

.block-text {
    width: 662px;
    font-size: 24px;
    line-height: 150%;
}

.block-image img:first-child {
    position: absolute;
    width: 366px;
    height: 59px;
    left: 950px;
    top: 511px;
}

.block-image img:last-child{
    position: absolute;
    width: 314px;
    height: 315px;
    left: 976px;
    top: 226px;
}

.block-image2 img:first-child {
    position: absolute;
    width: 189px;
    height: 32px;
    left: 157px;
    top: 857px;
}

.block-image2 img:last-child{
    position: absolute;
    width: 232px;
    height: 203px;
    left: 124px;
    top: 670px;
}

h2 {
    font-size: 25px;
    line-height: 130%;
}

.block-info {
    width: 638px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 440px;
    top: 740px;
}

.block-info-item {
    width: 150px;
}

.block-info-item p {
    font-size: 18px;
    line-height: 130%;
}

@media (max-width: 1400px) {
    
    .wrapper {
        max-width: 834px;
        padding: 56px 72px;
    }

    h1 {
        font-size: 32px;
    }
    
    .block-text {
        width: 383.41px;
        font-size: 14px;
    }
    
    .block-image img:first-child {
        width: 211.98px;
        height: 34.17px;
        left: 550.39px;
        top: 299.25px;
    }
    
    .block-image img:last-child{
        width: 181.86px;
        height: 182.44px;
        left: 565.45px;
        top: 134.19px;
    }
    
    .block-image2 {
        display: none;
    }
    
    h2 {
        font-size: 15px;
        line-height: 130%;
    }
    
    .block-info {
        width: 383.41px;
        justify-content: left;
        position: static;
    }
    
    .block-info-item {
        width: 86.88px;       
    }

    .block-info-item:nth-child(2) {
        width: 108px;
        padding: 0 32.53px 0 55.23px;       
    }
    
    .block-info-item p {
        font-size: 11px;
        line-height: 130%;
    }
}

@media (min-width: 375px) and (max-width: 830px) {
    
    .wrapper {
        max-width: 375px;
        padding: 56px 30.53px 124px 36px;
    }

    h1 {
        font-size: 26px;
    }
    
    .block-text {
        width: 308.47px;
        font-size: 12px;
    }
    
    .block-image img:first-child {
        width: 170.55px;
        height: 160.29px;
        left: 101px;
        top: 417px;
    }
    
    .block-image img:last-child{
        width: 170.55px;
        height: 160.29px;
        left: 101px;
        top: 338px;
    }
    
    .block-image2 {
        display: none;
    }
    
    h2 {
        font-size: 12px;
        line-height: 130%;
    }
    
    .block-info {
        width: 261.22px;
        margin-top: 225px;
        justify-content: space-between;
        flex-wrap: wrap;
        position: static;
    }
    
    .block-info-item {
        width: 86px;
        padding-bottom: 30px;       
    }

    .block-info-item:nth-child(2) {
        width: 86.89px;
    }
    
    .block-info-item p {
        font-size: 10px;
        line-height: 130%;
    }    
}